body {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: center;
}

/* Heading */

/* Game Layout */

/* Shapes Layout */

/* Buttons */

/* media queries */