html {
    font-size:62.5%;
} 

body {
    background: #008080;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: center;
    font-size: 1.6rem;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    color: white;
    text-shadow: 5px 5px black;
}

/* image showing area */

.main-game-area {
    width: 66%;
    height: 350px;
    background-color: #C84630;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    border-radius: 25px;
    box-shadow: 5px 5px black;
}

.sub-game-area {
    margin-top: 75px;
    width: 200px;
    height: 200px;
    position: relative;
}


/* message showing area */

.message {
    padding-top: 10px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 290px;
    width: 300px;
    height: 40px;
    font-size: 1.5rem;
}

.vs {
    position: absolute;
    top: 100px;
    font-size: 10rem;
}

.user-choice {
    position: absolute;
    top: -25px;
    left: 75px;
}

.comp-choice {
    position: absolute;
    top: -25px;
    right: 50px;
}

/*  scoreboard area */

.score-board {
    margin: 0px auto;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    font-size: 14px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: 0px;
}
#computer-label {
    position: absolute;
    top: 30px;
    right: 0px;
}

/* shape area */

.shape-chosen {
}

.shapes-area {
    width: 600px;
    margin: 0 auto;
    display:flex;
    padding-top: 20px;
    justify-content: space-around;
}

.shapes--button {
    padding-top: 10px;
    background-color: none;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    box-shadow: 5px 5px black;
    font-size: 5rem;
    color: black;
    cursor: pointer;
}

.shapes--button:hover {
    transform: scale(1.1);
    color: #DAA520;
    transition: 200ms;
}

/* buttons-area */

.buttons-area {
    width: 33%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.button {
    box-shadow: 5px 5px #DAA520;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    border: none;
}

button:hover {
    transform: scale(1.1);
    transition: 200ms;
    cursor: pointer;
}
/* media queries */

