html {
    font-size:62.5%;
} 

body {
    background: lightgrey;
    font-family: "Montserrat", sans-serif;
    color: black;
    text-align: center;
    font-size: 1.6rem;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
}

/* image showing area */

/* .main-game-area {
    width: 50%;
    height: 500px;
    margin: auto; 
    border: 5px solid white;
    display: flex;
    justify-content: space-evenly;  
}

.main-game-area div {
    color: black;
    width: 30px;
    height: 30px;
} */

.main-game-area {
    width: 50%;
    height: 600px;
    border: 5px solid white;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.sub-game-area {
    margin-top: 100px;
    width: 300px;
    height: 300px;
    border: 5px solid white; 
}


/* message showing area */

.message {
    position: absolute;
    top: 450px;
    border: 5px solid white;
    width: 50%;
    height: 75px;
}

.vs {
    position: absolute;
    top: 250px;
}

/*  scoreboard area */

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: red;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}
#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

/* shape area */

.shape-chosen {
}

.shapes-area {
}
.shapes--button i {
    font-size: 5rem;
    color: black;
}

.shapes--button {
    padding-top: 10px;
    border-radius: 25%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
   
}

/* buttons-area */

/* media queries */

/* <div class="main-game-area">
<div class="shape-chosen">
    <img class="shape" src="" alt="">
</div>

<div class="shape-chosen">
    <img class="shape" src="" alt="">
</div>  
</div> */